{{import_globals}}
<div class="menu-item-overlay"></div>
<button  aria-label="{{linkText}} {{displayTitle}} {{#if _isVisited}}{{_globals._accessibility._ariaLabels.visited}}{{/if}}" class="base {{#if _graphicEnabled}}menu-item-graphic-button graphic-button-states{{else}}menu-item-hotspot{{/if}} {{#if _isVisited}}visited{{/if}} {{#if _isComplete}}complete{{/if}}" style="top:{{_hotspotMenuAudio._hotspotMenuItem._position._top}}%; left:{{_hotspotMenuAudio._hotspotMenuItem._position._left}}%" data-id="{{_id}}">{{_hotspotMenuAudio._hotspotMenuItem.title}}
	{{#if _graphicEnabled}}
	  <img src="{{_hotspotMenuAudio._hotspotMenuItem._graphic.src}}"{{#if _hotspotMenuAudio._hotspotMenuItem._graphic.alt}} aria-label="{{_hotspotMenuAudio._hotspotMenuItem._graphic.alt}}"{{else}} aria-hidden="true"{{/if}}/>
	  <img src="{{_hotspotMenuAudio._hotspotMenuItem._graphic.srcHover}}"{{#if _hotspotMenuAudio._hotspotMenuItem._graphic.alt}} aria-label="{{_hotspotMenuAudio._hotspotMenuItem._graphic.alt}}" class="graphic-button-hover"{{else}} class="graphic-button-hover" aria-hidden="true"{{/if}}/>
	  <img src="{{_hotspotMenuAudio._hotspotMenuItem._graphic.srcVisited}}"{{#if _hotspotMenuAudio._hotspotMenuItem._graphic.alt}} aria-label="{{_hotspotMenuAudio._hotspotMenuItem._graphic.alt}}" class="graphic-button-visited" {{else}} class="graphic-button-visited" aria-hidden="true"{{/if}}/>
	{{/if}}
</button>
<div class="menu-item-inner {{#if _locked}}locked{{/if}}">
	<div class="menu-item-title">
		<div class="js-heading" data-a11y-heading-type="menuItem"></div>
		<div class="menu-item-title-inner h3 accessible-text-block" aria-hidden="true">{{{compile displayTitle}}}</div>
	</div>
	<div class="menu-item-body">
		<div class="menu-item-body-inner">{{{compile body}}}</div>
	</div>
	<div class="menu-item-button">
    <button aria-label="{{linkText}} {{#if _isVisited}}{{_globals._accessibility._ariaLabels.visited}}{{/if}}" class="{{#if _isVisited}}visited{{/if}} {{#if _isLocked}}disabled{{/if}}" {{#if _isLocked}}disabled="disabled"{{/if}}>
      {{#if _isLocked}}
				{{{_hotspotMenuAudio.linkLockedText}}}
	      {{else}}
	      {{#if _isVisited}}
	      	{{{_hotspotMenuAudio.linkVisitedText}}}
	      {{else}}
	      	{{{linkText}}}
	      {{/if}}
      {{/if}}
    </button>
  </div>
	{{#if duration}}
		<div class="menu-item-duration">{{#if _globals._menu._hotspotMenuAudio.durationLabel}}{{{_globals._menu._hotspotMenuAudio.durationLabel}}}{{/if}} {{{_hotspotMenuAudio.durationLabel}}} {{{duration}}}</div>
	{{/if}}
	<button class="base menu-item-done icon icon-cross"></button>
	<div class="js-menu-item-progress"></div>
</div>
